# Core functionality - changes here should be rare!
/src/app.py                   @EugeneAng1
/src/backend/database.py      @EugeneAng1
/src/backend/routers/auth.py  @EugeneAng1

# The frontend will need refactored soon to be more object oriented.
/src/static/   @EugeneAng1
